<div class="catalog-items-list">
	<h1>
		<%= @catalog_page.header %>
	</h1>
	<% @catalog_page.published_childs.each do |group| %>
		<div class="preview types">
			<% if(!group.image.blank?) %>
				<%= link_to_object image_tag(group.image.thumb.url), group %>
			<% else %>
			 	<%= link_to_object image_tag("logo.jpg", :alt => "Секреты стройки", width: 150, height: 115), group %>
			<% end %>
			<%= link_to_object group.header, group, class: "types-name" %>
		</div>
	<% end %>
</div>