<% @catalog_navigation = Objects.where("parent_id = ? AND is_published = ?", ENV['CATALOG_ID'], 1).order("sort_order ASC").joins(:catalog_navigations) %>
<div class="catalog-nav">
	<div class="catalog-nav-inner container">
		<ul>
			<% @catalog_navigation.each do |category| %>
				<li class="nav-item">
					<%= link_to_object category.header, category %>
					<div class="catalog-nav-submenu" <% if(category.navigation_childs.count > 4) %> style="min-width: 1158px;" <% end %> >
						<ul>
							<% category.navigation_childs.each do |group| %>
								<li class="catalog-nav-submenu-inner">
									<%= link_to_object group.header, group %>
									<ul>
										<li>
											<% group.navigation_childs.each do |type| %>
												<%= link_to_object type.header, type %>
											<% end %>
										</li>
									</ul>
								</li>
							<% end %>
						</ul>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
</div>