<div class="catalog-nav">
	<div class="catalog-nav-inner container">
		<ul>
			<li class="nav-item">
				<a>
					Стройматериалы
				</a>
				<div class="catalog-nav-submenu" style="min-width: 1158px;">
					<ul>
						<li class="catalog-nav-submenu-inner">
							<a>
								Логика
							</a>
							<ul>
								<li>
									<a>
										Обрезной
									</a>
									<a>
										Необрезной
									</a>
									<a>
										Обрезной
									</a>
									<a>
										Необрезной
									</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
			</li>
		</ul>
	</div>
</div>