<div class="header-search">
	<form>
		<input type="search" placeholder="Поиск по категориям или названию товара">
		<button type="submit">
            <i class="fa fa-search"></i>
        </button>
	</form>
</div>