<div class="header-up-line">
	<div class="container">
		<ul class="header-navigation">
			<li>
				<a href="#">Статьи</a>
			</li>
			<li>
				<a href="#">Новости</a>
			</li>
			<li>
				<a href="#">О компании</a>
			</li>
			<li>
				<a href="#">Контакты</a>
			</li>
			<li>
				<a href="#">Доставка и оплата</a>
			</li> 
		</ul>
	</div>
</div>