<div class="header-up-line">
	<div class="container">
		<ul class="header-navigation">
			<% @main_navigation = Objects.where("is_published = ?", 1).order("sort_order ASC").joins(:main_navigations) %>
			<% @main_navigation.each do |object| %>
				<li>
					<%= link_to_object object.header, object %>
				</li>
			<% end %>
		</ul>
	</div>
</div>